@import '/public/css/raannuch/bootstrap.min.css';
@import '/public/css/materialPreloader.min.css';

/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-nav>li>a:hover {
	color: #71a866 !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	color: #333 !important;
}*/

/*.navbar-gradient {
	background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f3f2eb));
    background: -webkit-linear-gradient(top,#fff 0,#f3f2eb 100%);
    background: linear-gradient(to bottom,#fff 0,#f3f2eb 100%);
}*/
body {
	margin: 0px;
	padding: 0px;
}
.page-header {
	background: #413c35 url(../../images/pattern_dark.png);
	margin: 61px 0 0 0;
	height: 42px;
}
.navbar-toggle {
    margin-top: 15px;
}
ul.navbar-nav>li>a {
    padding: 20px 15px 16px 15px;
	font-weight: bold;
}
nav.navbar-inverse {
	margin: 10px 0px 10px 0px;
}
nav.navbar-inverse ul.navbar-nav>li>a {
    padding: 10px 15px 10px 15px;
}
ul.breadcrumb>li.active {
	color: #FFF;
}

ul.breadcrumb > li + li:before {
    content: "\f054";
    font: 11px 'FontAwesome';
}
i.fa-event{
	cursor: pointer;
    font-size: 14px;
    margin: 0px 5px;
    padding: 3px 2px 2px 3px;
    border-radius: 2px;
}
i.fa-event:hover {
    background-color: #444;
    color: #FFF;
}
.badge {
	margin-top: -3px;
}
.money:before {
    content: "\f154 ";
    font: 11px 'FontAwesome';
    padding-right: 4px;
}
.navbar-brand {
	background: url('../../images/logo.png') no-repeat 10px 10px ;
    padding: 18px 0 0 60px;
	width: 225px;
	height: 60px;
}

#main-home {
	text-align: center; 
	position: relative; 
	height: 400px; 
	display: block; 
	background: url('../../images/dark_wood.jpg') 50% 0% repeat;
	color: #FFF;
	font-size: 400%;
	font-weight: bold;
	padding-top: 120px;
}
.icon-hr {
    margin-right: auto;
    margin-left: auto;
	height: 25px;
	width: 35px;
	margin-top: -38px;
	background: #FCFCFD url('../../images/hr.png') center center no-repeat
}
.panel-footer {
	background-color:#413c35;
	color:#ada89f;
	border-radius: 0px;
}
.product-image {
	margin-bottom: 5px;
}
.product-item {
	margin:3px;
	width:250px;
	height:148px;
	background-repeat:no-repeat;
	background-size:cover;
}
.product-item div.name {
	padding:3px;
	font-weight:bold;
	height:137px;
}
.product-item div.action-bg {
	background-color:#000000;
	width:290px;
	height:29px;
	opacity:0.6;
	position:relative;
}
.product-item div.action {
	color:#FFFFFF;
	font-weight:bold;
	position:relative;
	margin-top:-29px;
}
.product-en, .product-th {
	font-weight:bold;
}

.product-price {
	font-size:130%;
	font-weight:bold;
}
.product-qty {
	font-size:80%;
	margin-bottom:15px;
}
