/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-nav>li>a:hover {
	color: #71a866 !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	color: #333 !important;
}*/

/*.navbar-gradient {
	background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f3f2eb));
    background: -webkit-linear-gradient(top,#fff 0,#f3f2eb 100%);
    background: linear-gradient(to bottom,#fff 0,#f3f2eb 100%);
}*/
body {
	margin: 0px;
	padding: 0px;
}
.page-header {
	background: #413c35 url(../../images/pattern_dark.png);
	margin: 61px 0 0 0;
	height: 42px;
}
.navbar-toggle {
    margin-top: 15px;
}
ul.navbar-nav>li>a {
    padding: 20px 15px 16px 15px;
	font-weight: bold;
}
nav.navbar-inverse {
	margin: 10px 0px 10px 0px;
}
nav.navbar-inverse ul.navbar-nav>li>a {
    padding: 10px 15px 10px 15px;
}
ul.breadcrumb>li.active {
	color: #FFF;
}

ul.breadcrumb > li + li:before {
    content: "\f054";
    font: 11px 'FontAwesome';
}
i.fa-event{
	cursor: pointer;
    font-size: 14px;
    margin: 0px 5px;
    padding: 3px 2px 2px 3px;
    border-radius: 2px;
}
i.fa-event:hover {
    background-color: #444;
    color: #FFF;
}
.badge {
	margin-top: -3px;
}
.money:before {
    content: "\f154 ";
    font: 11px 'FontAwesome';
    padding-right: 4px;
}
.navbar-brand {
	background: url('../../images/logo.png') no-repeat 10px 10px ;
    padding: 18px 0 0 60px;
	width: 225px;
	height: 60px;
}

#main-home {
	text-align: center; 
	position: relative; 
	height: 400px; 
	display: block; 
	background: url('../../images/dark_wood.jpg') 50% 0% repeat;
	color: #FFF;
   font-size: 400%;
   font-weight: bold;
   padding-top: 120px;
}
/*text-align: center; position: relative; height: 400px; display: block; 
background: url(http://localhost:8081/images/dark_wood.jpg) 50% 0% repeat;*/